{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Reset hasła administratora{% endblock %}
{% block content %}
<div id="content-main">
    <h1>Reset hasła administratora</h1>
    <p>Podaj adres e-mail przypisany do konta superadministratora. Wyślemy na niego jednorazowy link do ustawienia nowego hasła.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="form-row">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="submit-row">
            <input type="submit" value="Wyślij link resetujący">
        </div>
    </form>
</div>
{% endblock %}
